/* ==== Global ==== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {

}

body {
    background: #FFF;
}


.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    height: 100vh;
    width: 100vw;

    background-color: #EEE;
}

/* ==== Logo ==== */
.logo {
    padding: 2rem;

    font-weight: normal;
    font-size: 2rem;
}

.logo-details {
    color: #49AA26;
}

.form {
    border: 1px solid grey;
    padding: 2rem;
    width: 14.7rem;

    margin-top: 1rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    text-align: center;

    margin-bottom: 10rem;
}

#submit {
    margin-top: .7rem;
    width: 7rem;
}

input {
    margin-bottom: .5rem;
    padding: .1rem;
}