* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



/* Body */
body {
    background-color: #eee;
}





/* Main */
main {
    display: flex;
    justify-content: center;
    align-items: center;
}







/* Header Content */
header {
    background-color: #2D4A22;
    height: 238px;

    display: flex;
    justify-content: center;
}

header h1 {
    color: #fff;

    margin-top: 29px;
}
.dolar-dot {
    color: #49AA26
}











/* Top Div and Three Child Divs */
.top-div-principal {

    position: absolute;
    right: 130px;

    top: 120px;

    width:1050px;
    height: 180px;

    display: flex;
    justify-content: center;
    align-items: center;
}

#in, #out, #total {
    padding: 50px;

    color: #000;

    width: 270px;

    border-radius: 5px;
}

#in, #out {
    margin-right: 30px;

    background-color: #FFF;
}

#total {
    background-color: #49AA26;

    color: #EEE;
}

#in h3 {
    color: #C4C4C4;

    margin-top: -25px;
    margin-left: -23px
}

#out h3 {
    color: #C4C4C4;

    margin-top: -25px;
    margin-left: -23px
}

#total h3 {
    color: #C4C4C4;

    margin-top: -25px;
    margin-left: -23px
}

#in p {
    width: 200px;

    margin-left: -23px;

    position: absolute;

    bottom: 50px;

    font-size: 26px;
}

#out p {
    width: 200px;

    margin-left: -23px;

    position: absolute;

    bottom: 50px;

    font-size: 26px;
}

#total p {
    width: 200px;

    margin-left: -23px;

    position: absolute;

    bottom: 50px;

    font-size: 26px;
}













/* Content Container */
.content-container {
    width: 1120px;
    height: 320px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    margin-top: 60px;
}








/* Table */
table {
    width: 1120px;
    border-spacing: 0 0.5rem;

    text-align: left;
}

table th {
    color: #969cb3;

    padding: 1rem 2rem;
}

table tr {
    background-color: #FFF;
    height: 40px;
}

.table-header {
    width: 300px;

    display: flex;
    justify-content: space-between;
}

.table-header h3 {
    margin-right: 250px;
}